<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default_layout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <title>TM Uploader</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
    <script  th:inline="javascript">
        var procId = /*[[${procId}]]*/ 0;
        var data = {"proc": procId};
        function fetchdata(){
            $.ajax({
                url: '/admin/CheckTMFile?proc='+procId,
                data: data,
                contentType: "application/json",
                //dataType: "json",
                type: 'post',
                success: function(data){
                    debugger;
                    if(data.done){
                        $(".done .proc-status").html("Total rows processed: " + data.rowsCount + " , correct records: " + data.processed);
                        $(".done").removeClass("hide");
                        $(".processing").addClass("hide");
                    }
                    else{

                        setTimeout(fetchdata,5000);
                        $(".processing .proc-status").html("Total rows processed: " + data.rowsCount + " , correct records: " + data.processed);
                        $(".processing").removeClass("hide")
                    }
                },
                complete:function(data){

                }
            });
        }

        $(document).ready(function(){
            //setTimeout(fetchdata,5000);
            if(procId > 0) {
                fetchdata();
                $(".status").removeClass("hide")
            }
        });
    </script>
    <style>
        .hide{
            display: none;
        }

    </style>
</head>
<body>
<div class="container" layout:fragment="main-content">
    <h1>Upload TM file</h1>
    <div class="status hide"  >
        <h3>Upload Status</h3>
        <div class="done hide">
            <div >File processed</div>
            <div class="proc-status "></div>
        </div>
        <div class="processing hide">
            <div >File is processing</div>
            <div class="proc-status"></div>
        </div>
    </div>
    <h2>Main file:</h2>

    <div>
        <form action="#" th:action="@{AddTMFile}" enctype="multipart/form-data" method="post">
            <label for="TMFile" >Select file:</label>
            <input type="file" id="TMFile" class="TMFile" name="TMFile" />
            <input type="submit" value="Upload" />
        </form>
    </div>

    <br/>

    <h2>Manual file:</h2>

    <div>
        <form action="#" th:action="@{AddManualTMFile}" enctype="multipart/form-data" method="post">
            <label for="TMFile" >Select file:</label>
            <input type="file" id="TMFile" class="TMFile" name="TMFile" />
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

</body>
</html>