<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student TM Report</title>

</head>
<body>

<div class="col" layout:fragment="main-content" th:class="main-content">
    <h2>Cumulative attendance info</h2>
    <input type="hidden" th:value="${student.mumId}" class="student-id"/>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Total sessions possible</td>
            <td th:text="${student.totalSessions}"></td>
        </tr>
        <tr>
            <td>Total sessions attended</td>
            <td th:text="${student.sessionsAttended}"></td>
        </tr>
        <tr>
            <td>Percent attendance</td>
            <td th:text="${student.attendedSessionsPercentage}">%</td>
        </tr>
        <tr>
            <td>TM Check Sessions</td>
            <td th:text="${student.attendedTmCheck}">%</td>
        </tr>
        <tr>
            <td>TM Retreats</td>
            <td th:text="${student.attendedRetreats}">%</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td>Select Block</td>
            <td style="widht: 75%;">

                <div class="row">
                    <div class="col-9 form-group">
                        <div class="pb_select-wrap">
                            <select id="blocks-select" class="form-control pb_height-50 reverse">
                                <option value="">Select Course/Block</option>
                                <option th:attr="data-sessions=${b.totalSessions}" th:each="b : ${blocks}" th:value="${b.id}" th:text="${b.MMYY}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sessions in block</td>
            <td class="block-sessions"></td>
        </tr>
        <tr>
            <td>Days present</td>
            <td class="present-days"></td>
        </tr>
        <tr>
            <td>Percentage attended</td>
            <td class="block-percentage"></td>
        </tr>

        <tr>
            <td>Extra credit points</td>
            <td class="extra-credits"></td>
        </tr>
        </tbody>
    </table>
    <div class="results">
    </div>
    <script type="text/javascript" th:src="@{/js/helpers.js}"></script>
    <script type="text/javascript" th:src="@{/js/student-report.js}"></script>
</div>
</body>
</html>