<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
    <div class="container">
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
<!--                <span class="sr-only">Toggle navigation</span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="nav-link" th:href="@{/}" class="navbar-brand">TM Management</a>-->
<!--        </div>-->
        <a class="navbar-brand" th:href="@{/}">TM Management</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="ion-navicon"></i></span>
        </button>
        <div  class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="nav navbar-nav navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" href="/admin/tmcheck">TM Check Management</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" href="/admin/tmretreat">TM Retreat Management</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" href="/admin/TM">Upload TM Attendance</a></li>

                <li class="nav-item" sec:authorize="hasAuthority('STUDENT')"><a class="nav-link" th:href="@{/student/reports/mvc/totalStats}">Student Report</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('FACULTY')"><a class="nav-link" th:href="@{/faculty/reports/mvc/statsPerBlock}">Faculty Report</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" th:href="@{/admin/report}">Entry Report</a></li>

                <li  sec:authorize="isAuthenticated()"  class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><span class="pb_rounded-4 px-4">Log off</span></a></li>

                <li  sec:authorize="isAuthenticated() == false" class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" th:href="@{/login}" ><span class="pb_rounded-4 px-4">Login</span></a></li>
            </ul>
            <form action="#" th:action="@{/logout}" method="post" id="logoutForm">
            </form>

        </div>
    </div>

</nav>
</body>
</html>