<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default_layout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <title>Welcome</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="container" layout:fragment="main-content">
    <div class="row">
        <div class="col-sm-4">
            <img th:src="@{images/tmimage.jpeg}" th:width="200" th:height="200" alt="">
        </div>
        <div class="col-sm-8">
            <h1>Welcome to TM management system</h1>
            <p>This system is inteded to provide services for admins, faculty and students related to TM requirements.</p></div>
    </div>

</div>
</body>
</html>