<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Faculty Extra Credit Report</title>
</head>
<body>

<div class="col" layout:fragment="main-content" th:class="main-content">
    <h2>Course/Block Extra Credits</h2>
    <input type="hidden" th:value="${faculty.id}" class="faculty-id"/>
    <label>Select Block/Course</label>
    <div class="row">
        <div class="col-9 form-group">
            <div class="pb_select-wrap">
                <select id="blocks-select" class="form-control pb_height-50 reverse">
                    <option value="">Select Course/Block</option>
                    <option th:each="b : ${faculty.courses}" th:value="${b.id}" th:text="${b.name}"></option>
                </select>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="results">
    </div>
    <script type="text/javascript" th:src="@{/js/helpers.js}"></script>
    <script type="text/javascript" th:src="@{/js/faculty-report.js}"></script>
</div>

</body>
</html>